.orders-list {
  margin-top: 30px;
}
.order-card {
  background-color: #1a1a1a;
  border: 2px solid #7c787d;
  border-radius: 8px;
  padding: 8px;
  color: #7c787d;
}
.order-card + .order-card {
  margin-top: 8px;
}
.order-card * {
  z-index: 1;
}
.title,
.with-discount {
  display: inline-flex;
  align-items: baseline;
  width: 100%;
}
.title .label {
  white-space: nowrap;
  margin-left: 8px;
}
.title .value {
  display: inline-block;
  font-size: 21px;
  width: 100%;
  text-align: center;
}
.label {
}
.value {
  color: #fff;
}
.description {
  display: flex;
}
.mini-preview {
  position: relative;
  min-width: 68px;
  height: 100px;
  z-index: 0;
}
.mini-preview .letter-render {
  position: absolute;
  width: 112px;
  top: -8px;
  left: -8px;
}
.description-body {
  width: 100%;
}
.description-body > * {
  margin-bottom: 10px;
}
.font .label {
}
.font .value {
  font-size: 21px;
}
.font {
}
.height-font {
}
.order-actions {
  display: flex;
  justify-content: right;

  width: 100%;
}
.order-actions button {
  width: 104px;
  margin-left: 10px;
}
.order-actions button:disabled {
  border: none;
  color: #7c787d;
}
.extra {
}
.order-price {
}
.small {
  font-size: 12px;
}
.with-discount span {
  white-space: nowrap;
}
.date {
  display: inline-block;
  width: 100%;
  text-align: right;
}
