.info {
  display: flex;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

.light-indicator {
  color: #7c787d;
  line-height: 1.5;
  margin-left: 8px;
  margin-top: -4px;
}
.light-indicator .btn {
  background-color: #000;
  padding-bottom: 0;
}
.light-indicator.active .btn {
  background-color: #fff;
}
